.grid {
  display: flex;
  flex-direction: column;
  gap: calc(var(--theme-line-height-base) * 1rem);
  padding: calc(var(--font-size) * var(--theme-line-height-base)) 2ch calc(var(--font-size) * var(--theme-line-height-base)) 2ch;
}
